In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('matches.csv')
df

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

# FETCH DATA OF FIRST THREE records

In [4]:
df.columns

Index(['id', 'Season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [5]:
#df.head(3)
df[:3]

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN

In [6]:
#df.tail(3)
df[-3:]

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

# how many rows and columns are there

In [7]:
df.shape

(756, 18)

In [8]:
print('The number of rows are',(df.shape)[0])
print('The number of columns are',(df.shape)[1])

The number of rows are 756
The number of columns are 18

# CHECK ABSTRACT SUMMARY OF DATA

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   Season           756 non-null    object
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(4), object(14)
memory usage: 106.4+ KB

# check missing values

In [10]:
b = pd.read_excel('book1.xlsx')
b[:3]

   SEGMENT_CODE OG_DIP_CODE  count$
0            AC         CAN     NaN
1            AC         CMP  4002.0
2           NaN         NaN    17.0

In [11]:
b.isna()

    SEGMENT_CODE  OG_DIP_CODE  count$
0          False        False    True
1          False        False   False
2           True         True   False
3          False         True   False
4           True        False    True
5          False        False   False
6          False        False   False
7          False        False    True

In [12]:
b.isna().sum()

 SEGMENT_CODE    2
OG_DIP_CODE      2
count$           3
dtype: int64

In [13]:
df.isna()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
752,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
753,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True
754,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
755,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [14]:
df.isna().sum()

id                   0
Season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

#

# CHECK DESCRIPTIVE ANALYSIS

#

In [15]:
x = df.describe()
x

                 id  dl_applied  win_by_runs  win_by_wickets
count    756.000000  756.000000   756.000000      756.000000
mean    1792.178571    0.025132    13.283069        3.350529
std     3464.478148    0.156630    23.471144        3.387963
min        1.000000    0.000000     0.000000        0.000000
25%      189.750000    0.000000     0.000000        0.000000
50%      378.500000    0.000000     0.000000        4.000000
75%      567.250000    0.000000    19.000000        6.000000
max    11415.000000    1.000000   146.000000       10.000000

In [16]:
x.T

,count,mean,std,min,25%,50%,75%,max
id,756.0,1792.178571,3464.478148,1.0,189.75,378.5,567.25,11415.0
dl_applied,756.0,0.025132,0.156630,0.0,0.00,0.0,0.00,1.0
win_by_runs,756.0,13.283069,23.471144,0.0,0.00,0.0,19.00,146.0
win_by_wickets,756.0,3.350529,3.387963,0.0,0.00,4.0,6.00,10.0

# CHECK DATA OF SPECIFIC COLUMNS

In [17]:
df[['city']]

              city
0        Hyderabad
1             Pune
2           Rajkot
3           Indore
4        Bangalore
..             ...
751         Mumbai
752        Chennai
753  Visakhapatnam
754  Visakhapatnam
755      Hyderabad

[756 rows x 1 columns]

In [18]:
df[['city','result']]

              city  result
0        Hyderabad  normal
1             Pune  normal
2           Rajkot  normal
3           Indore  normal
4        Bangalore  normal
..             ...     ...
751         Mumbai  normal
752        Chennai  normal
753  Visakhapatnam  normal
754  Visakhapatnam  normal
755      Hyderabad  normal

[756 rows x 2 columns]

In [19]:
df.loc[:,['city','result']]

              city  result
0        Hyderabad  normal
1             Pune  normal
2           Rajkot  normal
3           Indore  normal
4        Bangalore  normal
..             ...     ...
751         Mumbai  normal
752        Chennai  normal
753  Visakhapatnam  normal
754  Visakhapatnam  normal
755      Hyderabad  normal

[756 rows x 2 columns]

In [20]:
df.columns

Index(['id', 'Season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [21]:
df.loc[:,'winner':'venue']

,winner,win_by_runs,win_by_wickets,player_of_match,venue
0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal"
1,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium
2,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium
3,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium
4,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium
...,...,...,...,...,...
751,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium
752,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium
753,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium
754,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium
755,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium

In [22]:
b.loc[:,:]

   SEGMENT_CODE OG_DIP_CODE  count$
0            AC         CAN     NaN
1            AC         CMP  4002.0
2           NaN         NaN    17.0
3           ARB         NaN   339.0
4           NaN         CAN     NaN
5           BSD         CMP  1470.0
6          CHAT         CAN    18.0
7          CHAT         CMP     NaN

In [23]:
b.loc[:,[' SEGMENT_CODE','count$']]

   SEGMENT_CODE  count$
0            AC     NaN
1            AC  4002.0
2           NaN    17.0
3           ARB   339.0
4           NaN     NaN
5           BSD  1470.0
6          CHAT    18.0
7          CHAT     NaN

In [24]:
df.columns

Index(['id', 'Season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [25]:
win = df.loc[:,['winner','toss_winner','venue']]
win[:20]

,winner,toss_winner,venue
0,Sunrisers Hyderabad,Royal Challengers Bangalore,"Rajiv Gandhi International Stadium, Uppal"
1,Rising Pune Supergiant,Rising Pune Supergiant,Maharashtra Cricket Association Stadium
2,Kolkata Knight Riders,Kolkata Knight Riders,Saurashtra Cricket Association Stadium
3,Kings XI Punjab,Kings XI Punjab,Holkar Cricket Stadium
4,Royal Challengers Bangalore,Royal Challengers Bangalore,M Chinnaswamy Stadium
5,Sunrisers Hyderabad,Sunrisers Hyderabad,"Rajiv Gandhi International Stadium, Uppal"
6,Mumbai Indians,Mumbai Indians,Wankhede Stadium
7,Kings XI Punjab,Royal Challengers Bangalore,Holkar Cricket Stadium
8,Delhi Daredevils,Rising Pune Supergiant,Maharashtra Cricket Association Stadium
9,Mumbai Indians,Mumbai Indians,Wankhede Stadium
10,Kolkata Knight Riders,Kolkata Knight Riders,Eden Gardens
11,Mumbai Indians,Mumbai Indians,M Chinnaswamy Stadium
12,Gujarat Lions,Gujarat Lions,Saurashtra Cricket Association Stadium
13,Kolkata Knight Riders,Sunrisers Hyderabad,Eden Gardens
14,Delhi Daredevils,Delhi Daredevils,Feroz Shah Kotla
15,Mumbai Indians,Mumbai Indians,Wankhede Stadium
16,Rising Pune Supergiant,Royal Challengers Bangalore,M Chinnaswamy Stadium
17,Kolkata Knight Riders,Delhi Daredevils,Feroz Shah Kotla
18,Sunrisers Hyderabad,Kings XI Punjab,"Rajiv Gandhi International Stadium, Uppal"
19,Royal Challengers Bangalore,Gujarat Lions,Saurashtra Cricket Association Stadium

In [26]:
win[win.winner == win.toss_winner]

,winner,toss_winner,venue
1,Rising Pune Supergiant,Rising Pune Supergiant,Maharashtra Cricket Association Stadium
2,Kolkata Knight Riders,Kolkata Knight Riders,Saurashtra Cricket Association Stadium
3,Kings XI Punjab,Kings XI Punjab,Holkar Cricket Stadium
4,Royal Challengers Bangalore,Royal Challengers Bangalore,M Chinnaswamy Stadium
5,Sunrisers Hyderabad,Sunrisers Hyderabad,"Rajiv Gandhi International Stadium, Uppal"
...,...,...,...
750,Kings XI Punjab,Kings XI Punjab,IS Bindra Stadium
751,Mumbai Indians,Mumbai Indians,Wankhede Stadium
753,Delhi Capitals,Delhi Capitals,ACA-VDCA Stadium
754,Chennai Super Kings,Chennai Super Kings,ACA-VDCA Stadium
755,Mumbai Indians,Mumbai Indians,Rajiv Gandhi Intl. Cricket Stadium

# FETCH DATA OF 2017

In [36]:
df.Season.str.split('-',expand =True)[1]

0      2017
1      2017
2      2017
3      2017
4      2017
       ...
751    2019
752    2019
753    2019
754    2019
755    2019
Name: 1, Length: 756, dtype: object

In [41]:
df['year']=df.Season.str.split('-',expand=True)[1]
df['year']

0      2017
1      2017
2      2017
3      2017
4      2017
       ...
751    2019
752    2019
753    2019
754    2019
755    2019
Name: year, Length: 756, dtype: object

In [42]:
df.columns

Index(['id', 'Season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3', 'year'],
      dtype='object')

In [44]:
df[df.year == '2017']

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,year
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,2017
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2017
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,2017
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,2017
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,2017
5,6,IPL-2017,Hyderabad,09-04-2017,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",A Deshmukh,NJ Llong,NaN,2017
6,7,IPL-2017,Mumbai,09-04-2017,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium,Nitin Menon,CK Nandan,NaN,2017
7,8,IPL-2017,Indore,10-04-2017,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,normal,0,Kings XI Punjab,0,8,AR Patel,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,2017
8,9,IPL-2017,Pune,11-04-2017,Delhi Daredevils,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Delhi Daredevils,97,0,SV Samson,Maharashtra Cricket Association Stadium,AY Dandekar,S Ravi,NaN,2017
9,10,IPL-2017,Mumbai,12-04-2017,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,JJ Bumrah,Wankhede Stadium,Nitin Menon,CK Nandan,NaN,2017
10,11,IPL-2017,Kolkata,13-04-2017,Kings XI Punjab,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,8,SP Narine,Eden Gardens,A Deshmukh,NJ Llong,NaN,2017
11,12,IPL-2017,Bangalore,14-04-2017,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,KA Pollard,M Chinnaswamy Stadium,KN Ananthapadmanabhan,AK Chaudhary,NaN,2017
12,13,IPL-2017,Rajkot,14-04-2017,Rising Pune Supergiant,Gujarat Lions,Gujarat Lions,field,normal,0,Gujarat Lions,0,7,AJ Tye,Saurashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2017
13,14,IPL-2017,Kolkata,15-04-2017,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Kolkata Knight Riders,17,0,RV Uthappa,Eden Gardens,AY Dandekar,NJ Llong,NaN,2017
14,15,IPL-2017,Delhi,15-04-2017,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,normal,0,Delhi Daredevils,51,0,CJ Anderson,Feroz Shah Kotla,YC Barde,Nitin Menon,NaN,2017
15,16,IPL-2017,Mumbai,16-04-2017,Gujarat Lions,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,6,N Rana,Wankhede Stadium,A Nand Kishore,S Ravi,NaN,2017
16,17,IPL-2017,Bangalore,16-04-2017,Rising Pune Supergiant,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Rising Pune Supergiant,27,0,BA Stokes,M Chinnaswamy Stadium,KN Ananthapadmanabhan,C Shamshuddin,NaN,2017
17,18,IPL-2017,Delhi,17-04-2017,Delhi Daredevils,Kolkata Knight Riders,Delhi Daredevils,bat,normal,0,Kolkata Knight Riders,0,4,NM Coulter-Nile,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN,2017
18,19,IPL-2017,Hyderabad,17-04-2017,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,0,Sunrisers Hyderabad,5,0,B Kumar,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,A Deshmukh,NaN,2017
19,20,IPL-2017,Rajkot,18-04-2017,Royal Challengers Bangalore,Gujarat Lions,Gujarat Lions,field,normal,0,Royal Challengers Bangalore,21,0,CH Gayle,Saurashtra Cricket Association Stadium,S Ravi,VK Sharma,NaN,2017
20,21,IPL-2017,Hyderabad,19-04-2017,Sunrisers Hyderabad,Delhi Daredevils,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,15,0,KS Williamson,"Rajiv Gandhi International Stadium, Uppal",CB Gaffaney,NJ Llong,NaN,2017
21,22,IPL-2017,Indore,20-04-2017,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,8,JC Buttler,Holkar Cricket Stadium,M Erasmus,C Shamshuddin,NaN,2017
22,23,IPL-2017,Kolkata,21-04-2017,Kolkata Knight Riders,Gujarat Lions,Gujarat Lions,field,normal,0,Gujarat Lions,0,4,SK Raina,Eden Gardens,CB Gaffaney,Nitin Menon,NaN,2017
23,24,IPL-2017,Mumbai,22-04-2017,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,14,0,MJ McClenaghan,Wankhede Stadium,A Nand Kishore,S Ravi,NaN,2017
24,25,IPL-2017,Pune,22-04-2017,Sunrisers Hyderabad,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,6,MS Dhoni,Maharashtra Cricket Association Stadium,AY Dandekar,A Deshmukh,NaN,2017
25,26,IPL-2017,Rajkot,23-04-2017,Kings XI Punjab,Gujarat Lions,Gujarat Lions,field,normal,0,Kings XI Punjab,26,0,HM Amla,Saurashtra Cricket Association Stadium,AK Chaudhary,M Erasmus,NaN,2017
26,27,IPL-2017,Kolkata,23-04-2017,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,82,0,NM Coulter-Nile,Eden Gardens,CB Gaffaney,CK Nandan,NaN,2017
27,28,IPL-2017,Mumbai,24-04-2017,Rising Pune Supergiant,Mumbai Indians,Mumbai Indians,field,normal,0,Rising Pune Supergiant,3,0,BA Stokes,Wankhede Stadium,A Nand Kishore,S Ravi,NaN,2017
28,29,IPL-2017,Pune,26-04-2017,Rising Pune Supergiant,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,7,RV Uthappa,Maharashtra Cricket Association Stadium,AY Dandekar,NJ Llong,NaN,2017
29,30,IPL-2017,Bangalore,27-04-2017,Royal Challengers Bangalore,Gujarat Lions,Gujarat Lions,field,normal,0,Gujarat Lions,0,7,AJ Tye,M Chinnaswamy Stadium,AK Chaudhary,C Shamshuddin,NaN,2017
30,31,IPL-2017,Kolkata,28-04-2017,Delhi Daredevils,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,7,G Gambhir,Eden Gardens,NJ Llong,S Ravi,NaN,2017
31,32,IPL-2017,Chandigarh,28-04-2017,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,0,Sunrisers Hyderabad,26,0,Rashid Khan,"Punjab Cricket Association IS Bindra Stadium, ...",Nitin Menon,CK Nandan,NaN,2017
32,33,IPL-2017,Pune,29-04-2017,Rising Pune Supergiant,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Rising Pune Supergiant,61,0,LH Ferguson,Maharashtra Cricket Association Stadium,KN Ananthapadmanabhan,M Erasmus,NaN,2017
33,34,IPL-2017,Rajkot,29-04-2017,Gujarat Lions,Mumbai Indians,Gujarat Lions,bat,tie,0,Mumbai Indians,0,0,KH Pandya,Saurashtra Cricket Association Stadium,AK Chaudhary,CB Gaffaney,NaN,2017
34,35,IPL-2017,Chandigarh,30-04-2017,Delhi Daredevils,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,10,Sandeep Sharma,"Punjab Cricket Association IS Bindra Stadium, ...",YC Barde,CK Nandan,NaN,2017
35,36,IPL-2017,Hyderabad,30-04-2017,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,48,0,DA Warner,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,S Ravi,NaN,2017
36,37,IPL-2017,Mumbai,01-05-2017,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,bat,normal,0,Mumbai Indians,0,5,RG Sharma,Wankhede Stadium,AK Chaudhary,CB Gaffaney,NaN,2017
37,38,IPL-2017,Pune,01-05-2017,Gujarat Lions,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,5,BA Stokes,Maharashtra Cricket Association Stadium,M Erasmus,C Shamshuddin,NaN,2017
38,39,IPL-2017,Delhi,02-05-2017,Sunrisers Hyderabad,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,6,Mohammed Shami,Feroz Shah Kotla,YC Barde,Nitin Menon,NaN,2017
39,40,IPL-2017,Kolkata,03-05-2017,Kolkata Knight Riders,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,4,RA Tripathi,Eden Gardens,KN Ananthapadmanabhan,A Nand Kishore,NaN,2017
40,41,IPL-2017,Delhi,04-05-2017,Gujarat Lions,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,7,RR Pant,Feroz Shah Kotla,M Erasmus,Nitin Menon,NaN,2017
41,42,IPL-2017,Bangalore,05-05-2017,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kings XI Punjab,19,0,Sandeep Sharma,M Chinnaswamy Stadium,CB Gaffaney,C Shamshuddin,NaN,2017
42,43,IPL-2017,Hyderabad,06-05-2017,Rising Pune Supergiant,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Rising Pune Supergiant,12,0,JD Unadkat,"Rajiv Gandhi International Stadium, Uppal",KN Ananthapadmanabhan,AK Chaudhary,NaN,2017
43,44,IPL-2017,Delhi,06-05-2017,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,146,0,LMP Simmons,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN,2017
44,45,IPL-2017,Bangalore,07-05-2017,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,6,SP Narine,M Chinnaswamy Stadium,AY Dandekar,C Shamshuddin,NaN,2017
45,46,IPL-2017,Chandigarh,07-05-2017,Kings XI Punjab,Gujarat Lions,Gujarat Lions,field,normal,0,Gujarat Lions,0,6,DR Smith,"Punjab Cricket Association IS Bindra Stadium, ...",A Nand Kishore,VK Sharma,NaN,2017
46,47,IPL-2017,Hyderabad,08-05-2017,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,normal,0,Sunrisers Hyderabad,0,7,S Dhawan,"Rajiv Gandhi International Stadium, Uppal",KN Ananthapadmanabhan,M Erasmus,NaN,2017
47,48,IPL-2017,Chandigarh,09-05-2017,Kings XI Punjab,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kings XI Punjab,14,0,MM Sharma,"Punjab Cricket Association IS Bindra Stadium, ...",A Nand Kishore,S Ravi,NaN,2017
48,49,IPL-2017,Kanpur,10-05-2017,Gujarat Lions,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,2,SS Iyer,Green Park,YC Barde,AK Chaudhary,NaN,2017
49,50,IPL-2017,Mumbai,11-05-2017,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,normal,0,Kings XI Punjab,7,0,WP Saha,Wankhede Stadium,A Deshmukh,A Nand Kishore,NaN,2017
50,51,IPL-2017,Delhi,12-05-2017,Delhi Daredevils,Rising Pune Supergiant,Delhi Daredevils,bat,normal,0,Delhi Daredevils,7,0,KK Nair,Feroz Shah Kotla,KN Ananthapadmanabhan,CK Nandan,NaN,2017
51,52,IPL-2017,Kanpur,13-05-2017,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,8,Mohammed Siraj,Green Park,AK Chaudhary,Nitin Menon,NaN,2017
52,53,IPL-2017,Kolkata,13-05-2017,Mumbai Indians,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Mumbai Indians,9,0,AT Rayudu,Eden Gardens,A Nand Kishore,S Ravi,NaN,2017
53,54,IPL-2017,Pune,14-05-2017,Kings XI Punjab,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,9,JD Unadkat,Maharashtra Cricket Association Stadium,AY Dandekar,A Deshmukh,NaN,2017
54,55,IPL-2017,Delhi,14-05-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,10,0,HV Patel,Feroz Shah Kotla,CK Nandan,C Shamshuddin,NaN,2017
55,56,IPL-2017,Mumbai,16-05-2017,Rising Pune Supergiant,Mumbai Indians,Mumbai Indians,field,normal,0,Rising Pune Supergiant,20,0,Washington Sundar,Wankhede Stadium,S Ravi,C Shamshuddin,NaN,2017
56,57,IPL-2017,Bangalore,17-05-2017,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,1,Kolkata Knight Riders,0,7,NM Coulter-Nile,M Chinnaswamy Stadium,AK Chaudhary,Nitin Menon,NaN,2017
57,58,IPL-2017,Bangalore,19-05-2017,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,6,KV Sharma,M Chinnaswamy Stadium,NJ Llong,Nitin Menon,NaN,2017
58,59,IPL-2017,Hyderabad,21-05-2017,Mumbai Indians,Rising Pune Supergiant,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,KH Pandya,"Rajiv Gandhi International Stadium, Uppal",NJ Llong,S Ravi,NaN,2017

In [45]:
df

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,year
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,2017
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2017
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,2017
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,2017
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi,2019
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould,2019
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN,2019
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin,2019
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong,2019

# How many matches played in season 2018

In [51]:
s = df[df.year == '2018'].shape
s

(60, 19)

In [56]:
print('The number of matches played in 2018 is :',s[0])

The number of matches played in 2018 is : 60

In [53]:
s[1]

19

# How many matches played at Rajiv Gandhi International Stadium, Uppal

In [61]:
df.venue

0      Rajiv Gandhi International Stadium, Uppal
1        Maharashtra Cricket Association Stadium
2         Saurashtra Cricket Association Stadium
3                         Holkar Cricket Stadium
4                          M Chinnaswamy Stadium
                         ...
751                             Wankhede Stadium
752                    M. A. Chidambaram Stadium
753                             ACA-VDCA Stadium
754                             ACA-VDCA Stadium
755           Rajiv Gandhi Intl. Cricket Stadium
Name: venue, Length: 756, dtype: object

In [65]:
s = df[df.venue =='Rajiv Gandhi International Stadium, Uppal'].shape
s

(56, 19)

In [66]:
print('The number of venue of UPPAL ARE :',s[0])

The number of venue of UPPAL ARE : 56

# Show the total seasons in dataset

In [67]:
df.Season.info()

<class 'pandas.core.series.Series'>
RangeIndex: 756 entries, 0 to 755
Series name: Season
Non-Null Count  Dtype
--------------  -----
756 non-null    object
dtypes: object(1)
memory usage: 6.0+ KB

In [72]:
s = (df[df.year == '2017'].shape)[0]
print('The number of matches in 2017:', s)

The number of matches in 2017: 59

In [74]:
s1 =(df[df.year == '2018'].shape)[0]
print('The number of matches in 2018:', s1)

The number of matches in 2018: 60

In [75]:
s2 =(df[df.year == '2019'].shape)[0]
print('The number of matches in 2019:', s1)

The number of matches in 2019: 60

In [77]:
s3 =(df[df.year == '2020'].shape)[0]
print('The number of matches in 2020:', s3)

The number of matches in 2020: 0

In [79]:
s4 =(df[df.year == '2021'].shape)[0]
print('The number of matches in 2020:', s4)

The number of matches in 2020: 0

In [81]:
s0 =(df[df.year == '2016'].shape)[0]
print('The number of matches in 2016:', s0)

The number of matches in 2016: 60

In [82]:
s5 =(df[df.year == '2015'].shape)[0]
print('The number of matches in 2015:', s5)

The number of matches in 2015: 59

In [83]:
s6 =(df[df.year == '2014'].shape)[0]
print('The number of matches in 2014:', s6)

The number of matches in 2014: 60

In [84]:
s7 =(df[df.year == '2013'].shape)[0]
print('The number of matches in 2013:', s7)

The number of matches in 2013: 76

In [85]:
s8 =(df[df.year == '2012'].shape)[0]
print('The number of matches in 2012:', s8)

The number of matches in 2012: 74

In [86]:
s9 =(df[df.year == '2011'].shape)[0]
print('The number of matches in 2011:', s9)

The number of matches in 2011: 73

In [87]:
s10 =(df[df.year == '2010'].shape)[0]
print('The number of matches in 2010:', s10)

The number of matches in 2010: 60

In [88]:
s11 =(df[df.year == '2009'].shape)[0]
print('The number of matches in 2009:', s11)

The number of matches in 2009: 57

In [89]:
s12 =(df[df.year == '2008'].shape)[0]
 print('The number of matches in 2008:', s12)

The number of matches in 2008: 58

In [90]:
s13 =(df[df.year == '2007'].shape)[0]
print('The number of matches in 2007:', s13)

The number of matches in 2007: 0

In [91]:
s0+s+s1+s2+s4+s5+s6+s7+s8+s9+s10+s11+s12+s13

756

In [94]:
df.info

<bound method DataFrame.info of         id    Season           city        date                        team1  \
0        1  IPL-2017      Hyderabad  05-04-2017          Sunrisers Hyderabad
1        2  IPL-2017           Pune  06-04-2017               Mumbai Indians
2        3  IPL-2017         Rajkot  07-04-2017                Gujarat Lions
3        4  IPL-2017         Indore  08-04-2017       Rising Pune Supergiant
4        5  IPL-2017      Bangalore  08-04-2017  Royal Challengers Bangalore
..     ...       ...            ...         ...                          ...
751  11347  IPL-2019         Mumbai  05-05-2019        Kolkata Knight Riders
752  11412  IPL-2019        Chennai  07-05-2019          Chennai Super Kings
753  11413  IPL-2019  Visakhapatnam  08-05-2019          Sunrisers Hyderabad
754  11414  IPL-2019  Visakhapatnam  10-05-2019               Delhi Capitals
755  11415  IPL-2019      Hyderabad  12-05-2019               Mumbai Indians

                           team2                  toss_winner toss_decision  \
0    Royal Challengers Bangalore  Royal Challengers Bangalore         field
1         Rising Pune Supergiant       Rising Pune Supergiant         field
2          Kolkata Knight Riders        Kolkata Knight Riders         field
3                Kings XI Punjab              Kings XI Punjab         field
4               Delhi Daredevils  Royal Challengers Bangalore           bat
..                           ...                          ...           ...
751               Mumbai Indians               Mumbai Indians         field
752               Mumbai Indians          Chennai Super Kings           bat
753               Delhi Capitals               Delhi Capitals         field
754          Chennai Super Kings          Chennai Super Kings         field
755          Chennai Super Kings               Mumbai Indians           bat

     result  dl_applied                       winner  win_by_runs  \
0    normal           0          Sunrisers Hyderabad           35
1    normal           0       Rising Pune Supergiant            0
2    normal           0        Kolkata Knight Riders            0
3    normal           0              Kings XI Punjab            0
4    normal           0  Royal Challengers Bangalore           15
..      ...         ...                          ...          ...
751  normal           0               Mumbai Indians            0
752  normal           0               Mumbai Indians            0
753  normal           0               Delhi Capitals            0
754  normal           0          Chennai Super Kings            0
755  normal           0               Mumbai Indians            1

     win_by_wickets player_of_match  \
0                 0    Yuvraj Singh
1                 7       SPD Smith
2                10         CA Lynn
3                 6      GJ Maxwell
4                 0       KM Jadhav
..              ...             ...
751               9       HH Pandya
752               6        AS Yadav
753               2         RR Pant
754               6    F du Plessis
755               0       JJ Bumrah

                                         venue         umpire1  \
0    Rajiv Gandhi International Stadium, Uppal     AY Dandekar
1      Maharashtra Cricket Association Stadium  A Nand Kishore
2       Saurashtra Cricket Association Stadium     Nitin Menon
3                       Holkar Cricket Stadium    AK Chaudhary
4                        M Chinnaswamy Stadium             NaN
..                                         ...             ...
751                           Wankhede Stadium   Nanda Kishore
752                  M. A. Chidambaram Stadium     Nigel Llong
753                           ACA-VDCA Stadium             NaN
754                           ACA-VDCA Stadium   Sundaram Ravi
755         Rajiv Gandhi Intl. Cricket Stadium     Nitin Menon

            umpire2                  umpire3  year
0          NJ Llong                      NaN  2017
1            S Ravi                      NaN  2017
2         CK Nandan                      NaN  2017
3     C Shamshuddin                      NaN  2017
4               NaN                      NaN  2017
..              ...                      ...   ...
751        O Nandan                   S Ravi  2019
752     Nitin Menon                Ian Gould  2019
753             NaN                      NaN  2019
754  Bruce Oxenford  Chettithody Shamshuddin  2019
755       Ian Gould              Nigel Llong  2019

[756 rows x 19 columns]>

In [96]:
x = df.sort_values(by='year')
x

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,year
116,117,IPL-2008,Mumbai,01-06-2008,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,3,YK Pathan,Dr DY Patil Sports Academy,BF Bowden,RE Koertzen,NaN,2008
82,83,IPL-2008,Jaipur,04-05-2008,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,normal,0,Rajasthan Royals,0,8,Sohail Tanvir,Sawai Mansingh Stadium,Asad Rauf,AV Jayaprakash,NaN,2008
81,82,IPL-2008,Mumbai,04-05-2008,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,29,0,SM Pollock,Dr DY Patil Sports Academy,IL Howell,RE Koertzen,NaN,2008
80,81,IPL-2008,Chandigarh,03-05-2008,Kings XI Punjab,Kolkata Knight Riders,Kings XI Punjab,bat,normal,0,Kings XI Punjab,9,0,IK Pathan,"Punjab Cricket Association Stadium, Mohali",DJ Harper,I Shivram,NaN,2008
79,80,IPL-2008,Hyderabad,25-05-2008,Deccan Chargers,Royal Challengers Bangalore,Deccan Chargers,bat,normal,0,Royal Challengers Bangalore,0,5,R Vinay Kumar,"Rajiv Gandhi International Stadium, Uppal",Asad Rauf,RE Koertzen,NaN,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
721,11317,IPL-2019,Kolkata,12-04-2019,Kolkata Knight Riders,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,7,S Dhawan,Eden Gardens,Yeshwant Barde,O Nandan,Rod Tucker,2019
722,11318,IPL-2019,Mumbai,13-04-2019,Mumbai Indians,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,4,JC Buttler,Wankhede Stadium,Nitin Menon,Nanda Kishore,Marais Erasmus,2019
723,11319,IPL-2019,Mohali,13-04-2019,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,8,AB de Villiers,IS Bindra Stadium,S Ravi,Ulhas Gandhe,Nigel Llong,2019
725,11321,IPL-2019,Hyderabad,14-04-2019,Delhi Capitals,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Delhi Capitals,39,0,K Paul,Rajiv Gandhi Intl. Cricket Stadium,Anil Chaudhary,Bruce Oxenford,Chris Gaffaney,2019
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong,2019

In [114]:
(x[x.year == '20']).describe()

        id  dl_applied  win_by_runs  win_by_wickets
count  0.0         0.0          0.0             0.0
mean   NaN         NaN          NaN             NaN
std    NaN         NaN          NaN             NaN
min    NaN         NaN          NaN             NaN
25%    NaN         NaN          NaN             NaN
50%    NaN         NaN          NaN             NaN
75%    NaN         NaN          NaN             NaN
max    NaN         NaN          NaN             NaN

In [100]:
x.describe()

                 id  dl_applied  win_by_runs  win_by_wickets
count    756.000000  756.000000   756.000000      756.000000
mean    1792.178571    0.025132    13.283069        3.350529
std     3464.478148    0.156630    23.471144        3.387963
min        1.000000    0.000000     0.000000        0.000000
25%      189.750000    0.000000     0.000000        0.000000
50%      378.500000    0.000000     0.000000        4.000000
75%      567.250000    0.000000    19.000000        6.000000
max    11415.000000    1.000000   146.000000       10.000000

In [118]:
x.arange(2008,2020)

AttributeError: 'DataFrame' object has no attribute 'arange'

In [124]:
x1 = x.year
x1

116    2008
82     2008
81     2008
80     2008
79     2008
       ...
721    2019
722    2019
723    2019
725    2019
755    2019
Name: year, Length: 756, dtype: object

In [123]:
(x.year).describe()

count      756
unique      12
top       2013
freq        76
Name: year, dtype: object

In [128]:
x2 = x1.values.flatten()
x2

array(['2008', '2008', '2008', '2008', '2008', '2008', '2008', '2008',
       '2008', '2008', '2008', '2008', '2008', '2008', '2008', '2008',
       '2008', '2008', '2008', '2008', '2008', '2008', '2008', '2008',
       '2008', '2008', '2008', '2008', '2008', '2008', '2008', '2008',
       '2008', '2008', '2008', '2008', '2008', '2008', '2008', '2008',
       '2008', '2008', '2008', '2008', '2008', '2008', '2008', '2008',
       '2008', '2008', '2008', '2008', '2008', '2008', '2008', '2008',
       '2008', '2008', '2009', '2009', '2009', '2009', '2009', '2009',
       '2009', '2009', '2009', '2009', '2009', '2009', '2009', '2009',
       '2009', '2009', '2009', '2009', '2009', '2009', '2009', '2009',
       '2009', '2009', '2009', '2009', '2009', '2009', '2009', '2009',
       '2009', '2009', '2009', '2009', '2009', '2009', '2009', '2009',
       '2009', '2009', '2009', '2009', '2009', '2009', '2009', '2009',
       '2009', '2009', '2009', '2009', '2009', '2009', '2009', '2009',
       '2009', '2009', '2009', '2010', '2010', '2010', '2010', '2010',
       '2010', '2010', '2010', '2010', '2010', '2010', '2010', '2010',
       '2010', '2010', '2010', '2010', '2010', '2010', '2010', '2010',
       '2010', '2010', '2010', '2010', '2010', '2010', '2010', '2010',
       '2010', '2010', '2010', '2010', '2010', '2010', '2010', '2010',
       '2010', '2010', '2010', '2010', '2010', '2010', '2010', '2010',
       '2010', '2010', '2010', '2010', '2010', '2010', '2010', '2010',
       '2010', '2010', '2010', '2010', '2010', '2010', '2010', '2011',
       '2011', '2011', '2011', '2011', '2011', '2011', '2011', '2011',
       '2011', '2011', '2011', '2011', '2011', '2011', '2011', '2011',
       '2011', '2011', '2011', '2011', '2011', '2011', '2011', '2011',
       '2011', '2011', '2011', '2011', '2011', '2011', '2011', '2011',
       '2011', '2011', '2011', '2011', '2011', '2011', '2011', '2011',
       '2011', '2011', '2011', '2011', '2011', '2011', '2011', '2011',
       '2011', '2011', '2011', '2011', '2011', '2011', '2011', '2011',
       '2011', '2011', '2011', '2011', '2011', '2011', '2011', '2011',
       '2011', '2011', '2011', '2011', '2011', '2011', '2011', '2011',
       '2012', '2012', '2012', '2012', '2012', '2012', '2012', '2012',
       '2012', '2012', '2012', '2012', '2012', '2012', '2012', '2012',
       '2012', '2012', '2012', '2012', '2012', '2012', '2012', '2012',
       '2012', '2012', '2012', '2012', '2012', '2012', '2012', '2012',
       '2012', '2012', '2012', '2012', '2012', '2012', '2012', '2012',
       '2012', '2012', '2012', '2012', '2012', '2012', '2012', '2012',
       '2012', '2012', '2012', '2012', '2012', '2012', '2012', '2012',
       '2012', '2012', '2012', '2012', '2012', '2012', '2012', '2012',
       '2012', '2012', '2012', '2012', '2012', '2012', '2012', '2012',
       '2012', '2012', '2013', '2013', '2013', '2013', '2013', '2013',
       '2013', '2013', '2013', '2013', '2013', '2013', '2013', '2013',
       '2013', '2013', '2013', '2013', '2013', '2013', '2013', '2013',
       '2013', '2013', '2013', '2013', '2013', '2013', '2013', '2013',
       '2013', '2013', '2013', '2013', '2013', '2013', '2013', '2013',
       '2013', '2013', '2013', '2013', '2013', '2013', '2013', '2013',
       '2013', '2013', '2013', '2013', '2013', '2013', '2013', '2013',
       '2013', '2013', '2013', '2013', '2013', '2013', '2013', '2013',
       '2013', '2013', '2013', '2013', '2013', '2013', '2013', '2013',
       '2013', '2013', '2013', '2013', '2013', '2013', '2014', '2014',
       '2014', '2014', '2014', '2014', '2014', '2014', '2014', '2014',
       '2014', '2014', '2014', '2014', '2014', '2014', '2014', '2014',
       '2014', '2014', '2014', '2014', '2014', '2014', '2014', '2014',
       '2014', '2014', '2014', '2014', '2014', '2014', '2014', '2014',
       '2014', '2014', '2014', '2014', '2014', '2014', '2014', '2014',
       '2014', '2014', '2014', '2014', '2014', '2014', '2014', '2014',
       '2014', '2014', '2014', '2014', '2014', '2014', '2014', '2014',
       '2014', '2014', '2015', '2015', '2015', '2015', '2015', '2015',
       '2015', '2015', '2015', '2015', '2015', '2015', '2015', '2015',
       '2015', '2015', '2015', '2015', '2015', '2015', '2015', '2015',
       '2015', '2015', '2015', '2015', '2015', '2015', '2015', '2015',
       '2015', '2015', '2015', '2015', '2015', '2015', '2015', '2015',
       '2015', '2015', '2015', '2015', '2015', '2015', '2015', '2015',
       '2015', '2015', '2015', '2015', '2015', '2015', '2015', '2015',
       '2015', '2015', '2015', '2015', '2015', '2016', '2016', '2016',
       '2016', '2016', '2016', '2016', '2016', '2016', '2016', '2016',
       '2016', '2016', '2016', '2016', '2016', '2016', '2016', '2016',
       '2016', '2016', '2016', '2016', '2016', '2016', '2016', '2016',
       '2016', '2016', '2016', '2016', '2016', '2016', '2016', '2016',
       '2016', '2016', '2016', '2016', '2016', '2016', '2016', '2016',
       '2016', '2016', '2016', '2016', '2016', '2016', '2016', '2016',
       '2016', '2016', '2016', '2016', '2016', '2016', '2016', '2016',
       '2016', '2017', '2017', '2017', '2017', '2017', '2017', '2017',
       '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017',
       '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017',
       '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017',
       '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017',
       '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017',
       '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017',
       '2017', '2017', '2017', '2017', '2018', '2018', '2018', '2018',
       '2018', '2018', '2018', '2018', '2018', '2018', '2018', '2018',
       '2018', '2018', '2018', '2018', '2018', '2018', '2018', '2018',
       '2018', '2018', '2018', '2018', '2018', '2018', '2018', '2018',
       '2018', '2018', '2018', '2018', '2018', '2018', '2018', '2018',
       '2018', '2018', '2018', '2018', '2018', '2018', '2018', '2018',
       '2018', '2018', '2018', '2018', '2018', '2018', '2018', '2018',
       '2018', '2018', '2018', '2018', '2018', '2018', '2018', '2018',
       '2019', '2019', '2019', '2019', '2019', '2019', '2019', '2019',
       '2019', '2019', '2019', '2019', '2019', '2019', '2019', '2019',
       '2019', '2019', '2019', '2019', '2019', '2019', '2019', '2019',
       '2019', '2019', '2019', '2019', '2019', '2019', '2019', '2019',
       '2019', '2019', '2019', '2019', '2019', '2019', '2019', '2019',
       '2019', '2019', '2019', '2019', '2019', '2019', '2019', '2019',
       '2019', '2019', '2019', '2019', '2019', '2019', '2019', '2019',
       '2019', '2019', '2019', '2019'], dtype=object)

In [133]:
xx = set(x2)
xx

{'2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019'}

In [134]:
len(xx)

12

In [135]:
len(x2)

756