In [1]:
import pandas as pd

In [2]:
names = ['Sunil','Pranil','Suresh','Naresh','Hiresh','Rakesh','Anvita']

In [3]:
pd.Series(dtype='object')

Series([], dtype: object)

In [6]:
p = pd.Series(names)

In [7]:
p[4]

'Hiresh'

In [9]:
p[4][:2]

'Hi'

In [10]:
p[:5]

0     Sunil
1    Pranil
2    Suresh
3    Naresh
4    Hiresh
dtype: object

In [11]:
p[::-1]

6    Anvita
5    Rakesh
4    Hiresh
3    Naresh
2    Suresh
1    Pranil
0     Sunil
dtype: object

In [12]:
p[4]='Sharayu'

In [13]:
p

0      Sunil
1     Pranil
2     Suresh
3     Naresh
4    Sharayu
5     Rakesh
6     Anvita
dtype: object

In [14]:
p.str.upper()

0      SUNIL
1     PRANIL
2     SURESH
3     NARESH
4    SHARAYU
5     RAKESH
6     ANVITA
dtype: object

In [15]:
id(p)

2038105046608

In [16]:
p[2]='Hritik'

In [17]:
p

0      Sunil
1     Pranil
2     Hritik
3     Naresh
4    Sharayu
5     Rakesh
6     Anvita
dtype: object

In [18]:
id(p)

2038105046608

In [19]:
names = ['Su  n%%il','  Pra**nil  ','&&Sur^^esh$$','Na$$$resh  ','Hir)))esh','Rakesh','Anvita']

In [20]:
x = pd.Series(names)

In [21]:
x

0       Su  n%%il
1      Pra**nil
2    &&Sur^^esh$$
3     Na$$$resh
4       Hir)))esh
5          Rakesh
6          Anvita
dtype: object

In [26]:
x = x.str.strip(' ')

In [27]:
x

0       Su  n%%il
1        Pra**nil
2    &&Sur^^esh$$
3       Na$$$resh
4       Hir)))esh
5          Rakesh
6          Anvita
dtype: object

In [31]:
x = x.str.replace(' ','').str.replace('%','').str.replace('*','').str.replace('^','').str.replace('$','').str.replace(')','')

C:\Users\Rakesh\AppData\Local\Temp\ipykernel_8764\2238152492.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  x = x.str.replace(' ','').str.replace('%','').str.replace('*','').str.replace('^','').str.replace('$','').str.replace(')','')

In [35]:
x = x.str.strip('&')

In [36]:
x

0     Sunil
1    Pranil
2    Suresh
3    Naresh
4    Hiresh
5    Rakesh
6    Anvita
dtype: object